body {
	background-color: #fff;
	color: #000;
	font-family: Arial, sans-serif;
  }
  
  #content_sp {
	display: flex;
	align-items: flex-start;
	overflow: hidden;
  }
  
  .sanpham {
	width: 300px;
	height: 300px;
	display: inline-block; /* Change float:left; to display:inline-block; */
	margin: 9px;
	border: 1.5px grey solid;
	border-radius: 10px;
	vertical-align: top; /* Align boxes to the top of the line */
  }
  
  .tomtatsanpham {
	width: 590px;
	height: 300px;
	float: left;
	margin: 5px;
	border: 2px solid #000;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
  
  .tomtatsanpham h3 {
	padding: 10px;
	color: #000;
  }
  
  .tomtatsanpham h2 {
	margin: 0;
	background: #000;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
  }
  
  .tomtatsanpham p {
	margin: 0;
	padding-left: 10px;
  }
  
  .tomtatsanpham i {
	font-size: 20px;
	color: #f90;
  }
  
  .tomtatsanpham a {
	color: green;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
  }
  
  .noidung_tomtat {
	padding: 10px;
	height: 170px;
  }
  
  .chitietsanpham {
	width: 100%;
	clear: both;
	background-color: #fff;
	box-shadow: black;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	border-color: solid black;
	
  }
  
  .chitietsanpham h2 {
	margin: 0;
	background: #000;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
  }
  
  .chitietsanpham p {
	margin: 0;
	padding-left: 10px;
  }
  
  .sanpham img {
	width: 200px;
	height: auto;
	border: 2px solid #000;
  }

  .chitietsanpham {
	display: block;
	align-items: flex-start; /* Canh chữ lên đầu dòng */
	border-color: #000;
  }

  h4 {
	font-size: 14px; 
	display: inline-block; 
	margin: 0; 
	padding: 0; 
	text-align: left;
	font-size: small;
  }


  h5 {
	font-size: 14px; 
	display: inline-block; 
	margin: 0; 
	padding: 0; 
	font-size: small;
	text-align: left;
	border-radius: 10px;
  }

  .chitietsanpham h5, .chitietsanpham h6 {
	display: flex;
	text-align: left;
	margin-top: 20px;
  }
  
  .chitietsanpham h5 {
	margin-right: 0.5em; /* Khoảng cách giữa thẻ h5 và thẻ h6 */
	font-weight: bold; /* In đậm chữ trong thẻ h5 */
	margin: 0;
	background: #000;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	width: 79vh;

  }
  
  .chitietsanpham h6 {
	margin: 0; /* Xóa khoảng cách và lề của thẻ h6 */
  }

  