@charset "utf-8";
/* CSS Document */

/* Container for the shopping cart content */
#content_cart {
  width: 100%;
  margin: 10px auto;
  overflow: auto;
}

/* Title bar for the shopping cart items */
.cart_item_title {
  width: 780px;
  height: 40px;
  background: #CCC;
  margin: 0px auto;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cart_item_title span {
  color: #666;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #999999 solid;
}

.cart_item_title span:nth-child(1) {
  width: 150px;
}

.cart_item_title span:nth-child(2) {
  width: 280px;
}

.cart_item_title span:nth-child(3),
.cart_item_title span:nth-child(4),
.cart_item_title span:nth-child(5) {
  width: 100px;
}

.cart_item_title span:nth-child(6) {
  width: 50px;
}

/* Individual items in the shopping cart */
.cart_item {
  width: 780px;
  height: 110px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.cart_item span {
  height:100%;
  color: #666;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #999999 solid;
}

.cart_item span:nth-child(1) {
  width: 150px;
  height:110px;
  padding-top: 5px;
}

.cart_item span:nth-child(2) {
  width: 280px;
  height:100%;
  text-align: left;
}

.cart_item span:nth-child(3),
.cart_item span:nth-child(4),
.cart_item span:nth-child(5) {
  height:100%;
  width: 100px;
}

.cart_item span:nth-child(6) {
  width: 50px;
}

.cart_item span:nth-child(4) input {
  width: 50px;
}

.cart_item span:nth-child(6) > a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

.cart_item img {
  max-width: 100%;
  height:100%;
  vertical-align: middle;
}

.cart_item_name {
  font-weight: bold;
  margin-bottom: 15px;
}

.cart_item_name a {
  font-size: 14px;
  color: #090;
  text-decoration: none;
}

.cart_item_name a:hover {
  text-decoration: underline;
  color: #f90;
}

.cart_item_author {
  font-size: 12px;
  color: #f90;
}

/* Total price */
.cart_total {
  width: 780px;
  margin: 10px;
  color: red;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}

/* Update button */
.cart_update {
  width: 780px;
  margin: 10px;
  text-align: right;
}

.cart_update input[type=submit] {
  width: 250px;
  height: 50px;
  background: #0C0;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.cart_update input[type=submit]:hover {
  cursor: pointer;
}

/* Checkout section */
#cart_checkout {
  width: 70%;
  margin: 10px auto;
}

#cart_checkout p {
  height: 30px;
}

#cart_checkout span {
  display: inline-block;
  width: 100px;
}

#cart_checkout input[type=text] {
  width: 250px;
}

#cart_checkout input[type=submit] {
  width: 250px;
  height: 30px;
  background: #0C0;
  border: none;
  color: white;
  margin-left: 105px;
}